
input[type="text"], input[type="password"], textarea, select {
  border-color: #DDD;
  width: 100%;
  font-size: 11px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  display: inline-block;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  color: #454545;
  height: 30px;
  margin-bottom: 0px;
}

select:focus {
  outline: 0 !important;
}

select[multiple] {
  min-height: 100px;
}

textarea {
  min-height: 100px;
}